{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen.</h1>
    <a href="/">Vissza a kezdőlapra</a>
</div>
{% endblock %}
