<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Kezdőlap
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container h-100 pb-3">
			<header class="d-flex justify-content-end py-3">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a href="/" class="nav-link active" aria-current="page">Kezdőlap</a>
					</li>
				</ul>
			</header>
			{% block body %}{% endblock %}

		</div>
		<!-- Footer -->
		<footer class="container">
			<section class="mt-1">
				<div class="row text-center d-flex justify-content-end py-2">
					<div class="col-md-2">
						<h6 class="text-uppercase font-weight-bold text-primary">
							<a href="/">Kezdőlap</a>
						</h6>
					</div>
				</div>
			</section>
			<!-- Copyright -->
			<div class="text-center text-white p-3 bg-primary">
				2023 Próbafeladat
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->
	</body>
</html></body></html>
